<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Plant Disease Recognition</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Borel&family=Ephesis&family=Tektur:wght@800&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="../static/main.js" defer></script>
</head>

<body>
    <h1>Plant__Disease__Recognition</h1>
    <div class="cont">
        <div class="upload-area">
            <input type="file" id="imageUpload" accept="image/*">
            <button onclick="predict()">Predict</button>
        </div>
        <div class="image-preview">
            <img id="uploadedImage" src="#" alt="Uploaded Image">
        </div>
        <div id="result"></div>
    </div>
    
</body>

</html>